<!DOCTYPE html>
<html lang="en" xmlns:th =" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<p> type file name </p>
<form action="listofimages" method="post" enctype="multipart/form-data">
    <input type="text" name="n1" value="">
    <input type="text" name="n2" value="">
    <input type="text" name="n3" value="">
    <input type="text" name="n4" value="">
    <input type="text" name="n5" value="">
    <input type="submit">
</form>
</body>
</html>